<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289357692973-bq1v2pn1db65buarakqo8fnpnvvcmb9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289357692973-bq1v2pn1db65buarakqo8fnpnvvcmb9b</string>
	<key>API_KEY</key>
	<string>AIzaSyDvPB44gwKMrO7oTrpIFdI5xWI-x8jybi0</string>
	<key>GCM_SENDER_ID</key>
	<string>289357692973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dam.registroJornada</string>
	<key>PROJECT_ID</key>
	<string>registrojornada-cd6fd</string>
	<key>STORAGE_BUCKET</key>
	<string>registrojornada-cd6fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289357692973:ios:89b21d287dd564ad9cb8a4</string>
</dict>
</plist>